<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th"http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec"http://www.thymeleaf.org/extras/spring-security"
      >
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav th:replace="layout/plantilla :: header"></nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-0 m-0">
                    <div class="container-fluid" style="min-height: 100vh;">
                        <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                            <div class="form-container" style="background-color: #fef2bf; padding: 30px; border-radius: 10px; width: 50%;">
                                <form th:action="@{/registros/editar}" th:object="${registro}" method="POST" class="was-validated">
                                    <input type="hidden" th:field="*{cod_registro}"/>
                                    <div class="form-group">
                                        <label for="hora_entrada"><strong>Hora de entrada:</strong></label>
                                        <label for="hora_entrada" th:text="${registro.hora_entrada}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="cod_rutina"><strong>Rutina:</strong></label>
                                        <label for="cod_rutina" th:text="${rutina.nom_rutina}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha"><strong>Fecha:</strong></label>
                                        <label for="fecha" th:text="${registro.fecha}"></label>
                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit" th:text="#{accion.finalizar}" name="editar" th:value="#{accion.editar}" style="background-color: #FEAF00; border: none; font-weight: bold">
                                        Finalizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/plantilla :: footer"></footer>
                </main>
            </div>
        </div>
 
    </body>

</html>
